*{
margin:0;
padding:0;
}
a:link,a:visited,a:hover,a:active{
color:#0f0;
font-size:16px;
}
body{
background:#eee;
font-family:verdana;
}
h1{
color:#c0c;
font-size:24px;
}
p{
font-size:16px;
}
ul{
list-style-type:none;
}
#cabecera {
color:#ff9;
background-color:#000;
padding:10px;
}
#contenedor {
margin:0 auto;
width:1000px;
}
#contenido{
background-color:#ddd;
float:left;
height:750px;
padding:10px;
width:750px;
}
#menu{
background-color:#FF2D00;
float:left;
height:750px;
padding:10px;
width:200px;
}
</style>
</head>






